{% extends "base.html" %}
{% block title %}Редактирование игры{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">
          {% if game == None %}
            Создание игры
          {% else %}
            Редактирование игры
          {% endif %}
        </h1>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="is_public" name="is_public" {% if game == None or game.is_public %}checked{% endif %}>
          <label for="is_public" class="form-check-label">Публичная игра</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Название</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ game.title }}" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea class="form-control" id="description" name="description" rows="5" required>{{ game.description }}</textarea>
      </div>
      <div class="mb-3">
        <label for="genre" class="form-label">Жанр</label>
        <select class="form-select" id="genre" name="genre" required>
          {% for genre in genres %}
            <option value="{{ genre.name }}" {% if genre == game.genre %}selected{% endif %}>
              {{ genre.value }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Изображение</label>
        <input type="file" class="form-control" id="image" name="image">
        <input type="hidden" class="image_base64" id="image_base64" name="image_base64" value="{{ game.image_base64 if game.image else '' }}" readonly>
        {% if game.image %}
          <img src="data:image/png;base64,{{ game.image_base64 }}" alt="Текущее изображение" class="img-fluid mt-3 w-50" id="image_image">
          <button type="button" class="btn btn-danger mt-2" onclick="removeImage(this)">
            <i class="bi bi-trash"></i>
          </button>
        {% else %}
          <div class="d-flex align-items-center justify-content-center bg-secondary text-white mt-3 w-50" style="aspect-ratio: 1; object-fit: cover; border: 1px solid #dee2e6; border-radius: 0.375rem;">
            <i class="bi bi-image" style="font-size: 2rem;"></i>
            <span class="ms-2">Нет изображения</span>
          </div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="characters" class="form-label fs-4">Персонажи</label>
        <div id="charactersContainer">
          {% for character in game.characters %}
            <div class="border p-3 mb-3">
              <input type="hidden" class="form-control" name="character_id[]" value="{{ character.id }}" readonly>
              <input type="hidden" class="character_avatar_base64 form-control" name="character_avatar_base64[]" value="{{ character.avatar_base64 }}" readonly>
              <div class="mb-2">
                <label class="form-label fs-5" for="character_name_{{ character.id }}">Имя персонажа</label>
                <input type="text" class="form-control" id="character_name_{{ character.id }}" name="character_name[]" value="{{ character.name }}" required>
              </div>
              <div class="mb-2">
                <label class="form-label small" for="character_description_{{ character.id }}">Описание персонажа</label>
                <textarea class="form-control" id="character_description_{{ character.id }}" name="character_description[]" required>{{ character.description }}</textarea>
              </div>
              <div class="mb-2">
                <label class="form-label small" for="character_avatar_{{ character.id }}">Аватар</label>
                <input type="file" class="character_avatar_input form-control" id="character_avatar_{{ character.id }}" name="character_avatar[]">
                {% if character.avatar %}
                  <img src="data:image/png;base64,{{ character.avatar_base64 }}" alt="Аватар персонажа" class="character_avatar img-fluid mt-3 w-25">
                  <button type="button" class="btn btn-danger mt-2" onclick="removeAvatar(this)">
                    <i class="bi bi-trash"></i>
                  </button>
                {% endif %}
              </div>
              <button type="button" class="btn btn-danger" onclick="removeCharacter(this)">Удалить</button>
            </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="addCharacter()">Добавить персонажа</button>
      </div>

      <div class="mb-3">
        <label for="rules" class="form-label fs-4">Правила</label>
        <div id="rulesContainer">
          {% for rule in game.rules %}
            <div class="border p-3 mb-3">
              <input type="hidden" class="form-control" name="rule_id[]" value="{{ rule.id }}" readonly>
              <div class="mb-2">
                <label class="form-label small">Название правила</label>
                <input type="text" class="form-control" name="rule_name[]" value="{{ rule.name }}" required>
              </div>
              <div class="mb-2">
                <label class="form-label small">Описание правила</label>
                <textarea class="form-control" name="rule_description[]" required>{{ rule.description }}</textarea>
              </div>
              <button type="button" class="btn btn-danger" onclick="removeRule(this)">Удалить</button>
            </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="addRule()">Добавить правило</button>
      </div>

      <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
  </div>
</section>
{% endblock %}

{% block scripts %}

<script>
  function removeImage(button) {
    document.getElementById('image').value = '';
    document.getElementById('image_base64').value = '';
    document.getElementById('image_image').remove();
    button.remove();
  }

  function removeAvatar(button) {
    const imageInput = document.getElementsByClassName('character_avatar_input')[0];
    imageInput.value = '';
    button.parentElement.parentElement.getElementsByClassName('character_avatar_base64')[0].value = '';
    button.parentElement.getElementsByClassName('character_avatar')[0].remove();
    button.remove();
  }

  function addCharacter() {
    const container = document.getElementById('charactersContainer');
    const newCharacter = document.createElement('div');
    newCharacter.className = 'border p-3 mb-3';
    newCharacter.innerHTML = `
      <input type="hidden" class="form-control" name="character_id[]" value="" readonly>
      <input type="hidden" class="form-control" name="character_avatar_base64[]" value="" readonly>
      <div class="mb-2">
        <label class="form-label small">Имя персонажа</label>
        <input type="text" class="form-control" name="character_name[]" required>
      </div>
      <div class="mb-2">
        <label class="form-label small">Описание персонажа</label>
        <textarea class="form-control" name="character_description[]" required></textarea>
      </div>
      <div class="mb-2">
        <label class="form-label small">Аватар</label>
        <input type="file" class="form-control" name="character_avatar[]">
      </div>
      <button type="button" class="btn btn-danger" onclick="removeCharacter(this)">Удалить</button>
    `;
    container.appendChild(newCharacter);
  }

  function removeCharacter(button) {
    button.parentElement.remove();
  }

  function addRule() {
    const container = document.getElementById('rulesContainer');
    const newRule = document.createElement('div');
    newRule.className = 'border p-3 mb-3';
    newRule.innerHTML = `
      <input type="hidden" class="form-control" name="rule_id[]" value="" readonly>
      <div class="mb-2">
        <label class="form-label small">Название правила</label>
        <input type="text" class="form-control" name="rule_name[]" required>
      </div>
      <div class="mb-2">
        <label class="form-label small">Описание правила</label>
        <textarea class="form-control" name="rule_description[]" required></textarea>
      </div>
      <button type="button" class="btn btn-danger" onclick="removeRule(this)">Удалить</button>
    `;
    container.appendChild(newRule);
  }

  function removeRule(button) {
    button.parentElement.remove();
  }
</script>
{% endblock %}
